@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto:wght@300;400&display=swap');

:root {
  --color-primary: #096b6b;
  --color-primary-dark: #107575;
  --color-accent: #13b5a4;
}

body {
  font-family: 'Roboto', sans-serif;
}

#infoText {
  color: var(--color-primary);
  font-size: 26px;
  text-align: center;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 25px;
  margin-bottom: 50px;
}

#SurveyWrapper {
  margin-left: 12.5%;
  margin-right: 12.5%;
  text-align: center;
}

.RangeQuestion, .MultipleChoiceQuestion {
  border: medium solid var(--color-primary);
  border-radius: 15px;
  color: var(--color-primary);
  padding: 25px;
  font-size: 32px;
}

#inputAge {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
#inputAge::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--color-accent);
  cursor: pointer;
}
#inputAge::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--color-accent);
  cursor: pointer;
}
#inputAge:hover {
  opacity: 1;
}
